.list-container {
    width: 370px;
    height: 600px;
    padding: 20px;
    overflow-y: scroll;
    display: inline-block;
    vertical-align: top;
    background-color: #cad0d7;
    box-sizing: border-box;
}

.setul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.display_none {
    display: none;
}

.display_unset {
    display: unset;
}

.label{
    width: 100%;
    color: #333e51;
    font-family: 'Roboto', sans-serif;
    padding: 0px 20px 0 20px;
    font-size: 30px;
    background-color: #cad0d7;
    box-sizing: border-box;
    display: inline-block;
}
.label:hover {
    background-color: steelblue;
    cursor: pointer;
}

.flashcard-container {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
}

.li::marker {
    color: black;
}

.flashcardlink {
    color: #333e51;
    text-decoration: none;
}

.flashcardlink-selected{
    background-color: white;
}

.flashcardlink:hover {
    background-color: steelblue;
    cursor: pointer;
}

.subjects-list {
    list-style-type: none;
}

.chapters-list {
    list-style-type: none;
}

.flashcard-list-item {
    padding: 0 0 0 40px;
}

.questions-list {
    list-style-type: none;
}

.flashcards-list-item {
    padding-left: 40px;
}

.flashcard-list-item:hover {
    cursor: pointer;
    background-color: steelblue;
}

